body {
    margin:0px;
    padding:0;
    color: #FFFFFF;
    font-family:tqm;
    overflow-x: hidden;
    background-color: #FFFFFF;
   -webkit-touch-callout: none;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

@font-face {
	font-family: tqm;
	src: url(js/tqm.otf);
}
img {
pointer-events: none;
isolation: isolate; 
border: 1px solid  black;
}
a{
    text-decoration:none;
    color:#1C82E7;
    -webkit-appearance: none;
}
h66 {
font-size: 40px;
color: #1A1A1A;
}
.apps{
    margin:10px;
    padding:20px;
    width:80%;
    border-radius:20px;
    background-color: #000;
    height:60px;
}
.apps img{
    width:60px;
    height:60px;
    float:left;
    border-radius:23.3%;
    margin-left:0px;
    pointer-events: none;
}
.apps h1{
    font-size:16px;
    margin-left:70px;
    text-align:justify;
    margin-bottom:0px;
}

.apps a{
    display:block;
    width:55px;
    padding:5px;
    border-radius:50px;
    float:right;
    color:#F2F7FF;
    margin-right:0px;
    font-family: Framework7 Icons;
    font-size: 40px;
    -webkit-appearance: none;
}

