@supports (
  (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
) {
  .nav a:hover {
  color: #A02FE8;
  }
  .nav a {
  font-size: 40px;
  text-decoration:none;
  color: #ffffff;
  }
  .nav h23 {
  color: #1C0B36;
  }
  .taskbar {
  opacity: 0;
  }
  .nav {
    font-family: Framework7 Icons;
    justify-content: center;
    position: fixed;
    left: 6.3%;
    bottom: 10px;
    z-index: 99;
    text-align: center;
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    width: 60%;
    opacity: 50;
    background: #000;
    border-radius: 20px;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
}