<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://up-ipa.xyz/uploads/Unc0ver-old_b4159.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://longmen06.github.io/icons/dangtai.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://longmen06.github.io/icons/unv0ver.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ipa-apps.me.Unc0ver_old</string>
				<key>bundle-version</key>
				<string>6.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Long Mến❤️</string>
				<key>title</key>
				<string>Unc0ver Long Mến❤️</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>