}
/* Thong bao Popup  */
.tbpopup .tboverlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0, 0, 1, 0.473);
  z-index:1;
  display:none;
  }
   
  .tbpopup .tbcontent {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  max-width:500px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
  border-radius:20px;
  display: block;
  position: fixed;
  box-shadow:0px 0px 10px #111;
  }
  @media (max-width: 700px) {
  .tbpopup .tbcontent {width:90%;}
  }
   
  .tbpopup .tbclose-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:35px;
  height:35px;
  color:#ff4444;
  font-size:30px;
  font-weight:600;
  line-height:35px;
  text-align:center;
  border-radius:50%;
  }
   
  .tbpopup.active .tboverlay {
  display:block;
  }
   
  .tbpopup.active .tbcontent {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
  }
  .tbbuttom{background:#00cc00;color:#fff}